<h2>Edit employee</h2>
<form [formGroup]="editEmployeeForm">
    <mat-dialog-content>

        <mat-form-field>
            <mat-label>First name</mat-label>
            <input matInput [ngModel]="employee.firstName" formControlName="firstName" type="text" class="form-control">
            <mat-error *ngIf="editEmployeeForm.get('firstName')?.hasError('required')">
                First name is required!
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Last name</mat-label>
            <input matInput [ngModel]="employee.lastName" formControlName="lastName" type="text" class="form-control">
            <mat-error *ngIf="editEmployeeForm.get('lastName')?.hasError('required')">
                Last name is required!
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Age</mat-label>
            <input matInput [ngModel]="employee.age" formControlName="age" type="number" class="form-control">
            <mat-error *ngIf="editEmployeeForm.get('age')?.hasError('required')">
                Age is required!
            </mat-error>
        </mat-form-field>

    </mat-dialog-content>

</form>

<mat-dialog-actions>
    <button mat-button mat-raised-button (click)="onDecline()">Cancel</button>
    <button mat-button mat-raised-button color="primary" (click)="onConfirm()">Edit</button>
</mat-dialog-actions>