<div class="cards-wrapper">
    <div class="cards" *ngFor="let employee of employees"> 
        <mat-card class="matrial-card">
            <mat-card-title> {{employee.firstName}} {{employee.lastName}} </mat-card-title>
            <mat-card-subtitle>
                <p *ngIf="employee.isDirector">(director)</p>
                <br *ngIf="!employee.isDirector">
            </mat-card-subtitle> 

            <mat-card-content>
                <p>Age: {{employee.age}} </p>
                <p>Date of Birth: {{employee.dateOfBirth | date: 'mediumDate'}} </p>
                <p>Company: {{employee.company}}</p>
            </mat-card-content>

            <mat-card-actions>
                <button mat-raised-button (click)="onEdit(employee.id)">EDIT</button>
                <button mat-raised-button color="warn" (click)="onDelete(employee.id)">DELETE</button>
              </mat-card-actions>
        </mat-card>

    </div>    
</div>
